body{
    margin: 0;
    padding: 0;
}
.table{
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    background: linear-gradient(#D6B99F 30%, #CA9F7D 30%);
}
.screen{
    position: relative;
    width: 360px;
    height: 280px;
    background-color: #6B6B6B;
    left: 650px;
    top: 280px;
}
.keyboard{
    position: absolute;
    width: 360px;
    height: 280px;
    left: 0px;
    top: 280px;
    background-color: #cccccc;
}
.screenwhite{
    position: absolute;
    width: 320px;
    height: 240px;
    top: 20px;
    left: 20px;
    background-color: white;
}
.rotate{
    position: relative;
    width: 320px;
    height: 240px;
    -webkit-transform-style: preserve-3d;
    transition: all 0.5s ease;
}
input{
    position: absolute;
    left: 40px;
    top: 60px;
    width: 240px;
    height: 50px;
    border: none;
    font-size: 22px;
    text-align: center;
}
.back{
    position: absolute;
    width: 320px;
    height: 240px;
    transform: rotateY(-180deg);
    background-image: url(source/minoins.jpg);
    background-size: 370px 230px;
}
.front{
    position: absolute;
    width: 320px;
    height: 240px;
    background-image: url(source/windows.png);
    background-size: 350px 280px;
}
.button1{
    position: absolute;
    left: 110px;
    top: 140px;
    font-size: 22px;
    color: #6B6B6B;
    background-color: white;
    height: 50px;
    width: 100px;
}
.tittle{
    font-weight: bold;
    color: #1855d8;
    font-size: 30px;
    position: absolute;
    left: 75px;
    top: 30px;
    font-family: 'Comfortaa', cursive;
}
.imgboard{
    position: absolute;
    left: 18px;
    top: 30px;
    width: 90%;
    height: 40%;
}
.touchpad{
    position: absolute;
    left: 130px;
    top: 180px;
    width: 90px;
    height: 80px;
    background-color: #6B6B6B;
}
.bird{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 230px;
    top: 160px;
}
.smile{
    position: absolute;
    left: 40px;
    top: 150px;
    width: 50px;
    height: 50px;
}
.glass{
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #BF4A51;
    height: 0;
    width: 60px;
    left: 400px;
    top: 200px;
}
.title3{
    font-family: 'Comfortaa', cursive;
    position: absolute;
    color: white;
    font-size: 30px;
    left: 450px;
    top: 240px;
}
.photo{
    position: absolute;
    width: 94px;
    height: 180px;
    left: 200px;
    top: 50px;
    transform: rotate(45deg) skewX(-20deg);
}

.left{
    position: absolute;
    height: 10px;
    width: 190px;
    left: 180px;
    top: 170px;
    background-color: #F23A3A;
    transform: rotate(-25deg) skewX(-20deg);
}
.right{
    position: absolute;
    height: 63px;
    width: 10px;
    left: 155px;
    top: 153px;
    background-color: black;
    transform: rotate(95deg) skewX(-40deg);
}
.isometrica:hover{
    transform: translateY(-40px);
}
.box{
    position: absolute;
    width: 100px;
    height: 140px;
    left: 1100px;
    top: 30px;
    border-radius: 0px 30px 10px 10px;
    background-color: #9219f5;
    transform: rotate(-45deg) skewX(20deg);
}
.leftbox{
    position: absolute;
    width: 22px;
    height: 66px;
    left: 1204px;
    top: 108px;
    background-color: #611E9F;
    transform: rotate(90deg) skewX(45deg);
}
.rightbox{
    position: absolute;
    height: 20px;
    width: 149px;
    left: 1040px;
    top: 135px;
    background-color: #AD72E3;
    transform: rotate(204deg) skewX(25deg);
}
.glass1{
    position: absolute;
    width: 80px;
    height: 50px;
    left: 1090px;
    top: 65px;
    background-color: #63B8F2;
    transform: rotate(-45deg) skewX(20deg);
}
.round1{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1200px;
    top: 85px;
    background-color: black;
    border-radius: 40%;
    transform: rotate(-45deg) skewX(20deg);
}
.round2{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1207px;
    top: 102px;
    background-color: black;
    border-radius: 40%;
    transform: rotate(-45deg) skewX(20deg);
}
.round3{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1184px;
    top: 107px;
    background-color: black;
    border-radius: 40%;
    transform: rotate(-45deg) skewX(20deg);
}
.round4{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1175px;
    top: 90px;
    background-color: black;
    border-radius: 40%;
    transform: rotate(-45deg) skewX(20deg);
}
.line2{
    position: absolute;
    width: 35px;
    height: 10px;
    left: 1175px;
    top: 135px;
    background-color: black;
    transform: rotate(-45deg) skewX(20deg);
}
.wall{
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(to right,
    #63A69F 20%,
    #F2E1AC 20%, #F2E1AC 40%,
    #F2836B 40%, #F2836B 60%,
    #F9B477 60%, #F9B477 80%,
    #63A69F 80%);
}