body{
    margin: 0;
    padding: 0;
    background-color: rgb(111, 0, 255);
}

.dog{
    background-color: darkturquoise;
    position: relative;
    height: 100px;
    width: 180px;
    top: 400px;
    left: 200px;
    border-radius: 0px 0px 0px 60px;
    animation: forward 5s infinite linear;
}

.dog22{
    background-color: #c4008d;
    position: relative;
    height: 60px;
    width: 100px;
    left: 40px;
    top: 15px;
    border-radius: 100% 30% 40% 60%;
}

@keyframes forward{
    0%{
        transform: translateX(1600px);
    }
    100%{
        transform: translateX(-400px);
    }
}

.head{
    background-color: darkturquoise;
    position: absolute;
    height: 75px;
    width: 120px;
    top: -65px;
    left: -70px;
    border-radius: 0px 0px 0px 120px;
}

.leg1{
    background-color: darkturquoise;
    position: absolute;
    height: 60px;
    width: 20px;
    top: 85px;
    left: 25px;
    animation: leganim1 0.5s infinite linear;
    border-radius: 25%;
}
.leg2{
    background-color: darkturquoise;
    position: absolute;
    height: 60px;
    width: 20px;
    top: 85px;
    left: 65px;
    animation: leganim2 0.5s infinite linear 1s;
    border-radius: 25%;
}
.leg3{
    background-color: darkturquoise;
    position: absolute;
    height: 60px;
    width: 20px;
    top: 85px;
    left: 120px;
    animation: leganim1 0.5s infinite linear 0.8s;
    border-radius: 25%;
}
.leg4{
    background-color: darkturquoise;
    position: absolute;
    height: 60px;
    width: 20px;
    top: 85px;
    left: 160px;
    animation: leganim2 0.5s infinite linear;
    border-radius: 25%;
}
.tail{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 100px solid darkturquoise;
    position: absolute;
    transform: rotate(30deg);
    left: 180px;
    top: -60px;
    animation: tailanimation infinite 5s;
}
@keyframes tailanimation{
    50%{
        transform: rotate(900deg);
    }
}
.ear{
    background-color: teal;
    width: 45px;
    height: 90px;
    border-radius: 0px 0px 100px 100px;
    position: absolute;
    left: 10px;
    top: -65px;
}
.eye{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: -53px;
    left: -20px;
}

.eye23{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: -56px;
    left: -20px;
}


.nose{
    background-color: black;
    width: 15px;
    height: 15px;
    left: -75px;
    top: -70px;
    position: absolute;
    border-radius: 50%;
}

.nose22{
    background-color: grey;
    width: 8px;
    height: 8px;
    left: -75px;
    top: -70px;
    position: absolute;
    border-radius: 50%;
}

.tongue{
    background-color: red;
    width: 15px;
    height: 30px;
    border-radius: 0px 0px 100px 100px;
    position: absolute;
    left: -50px;
    top: -15px;
    transform: rotate(20deg);
    z-index: -1;
    animation: tongueanimation infinite 1s;
}
@keyframes tongueanimation{
    50%{
        transform: translateY(-10px);
    }
}

@keyframes leganim1{
    50%{
        transform: rotate(20deg);
    }
}
@keyframes leganim2{
    50%{
        transform: rotate(-25deg);
    }
}

.grassleft{
    position: absolute;
    top: 63%;
    left: 0%;
    width: 55%;
    height: 15%;
}
.grassright{
    position: absolute;
    top: 63%;
    left: 50%;
    width: 55%;
    height: 15%;
}

.round{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    left: 1000px;
    top: 100px;
    animation: sun infinite 10s linear alternate;
}

@keyframes sun{
    0%{
        transform: translate(-150px,0px);
    }
    50%{
        transform: translate(0px,-60px);
    }
    100%{
        transform: translate(150px, 0px);
    }
}
/*-----------------------------------------------*/
.chebur{
    background-color: #421a02;
    position: absolute;
    height: 150px;
    width: 150px;
    top: 400px;
    left: 1000px;
    border-radius: 45px 45px 25px 25px;
}

.head1{
    background-color: #421a02;
    position: relative;
    height: 100px;
    width: 120px;
    top: -93px;
    left: 15px;
    border-radius: 40%; 
}

.nogi1{
    background-color: #421a02;
    position: relative;
    height: 45px;
    width: 42px;
    top: 35px;
    left: 25px;
    border-radius: 40%;
}

.nogi2{
    background-color: #421a02;
    position: absolute;
    height: 45px;
    width: 42px;
    top: 135px;
    left: 85px;
    border-radius: 40%;
}

.ear1{
    background-color: #421a02;
    position: absolute;
    height: 75px;
    width: 82px;
    top: -75px;
    left: 115px;
    border-radius: 100%;
}

.ear2{
    background-color: #421a02;
    position: absolute;
    height: 75px;
    width: 82px;
    top: -75px;
    left: -50px;
    border-radius: 100%;
}

.body1{
    background-color: #873200;
    position: absolute;
    height: 65px;
    width: 62px;
    top: 5px;
    left: 45px;
    border-radius: 100%;
}

.lico{
    background-color: #873200;
    position: absolute;
    height: 73px;
    width: 90px;
    top: -80px;
    left: 30px;
    border-radius: 100%;
}

.glaz1{
    background-color:white;
    position: absolute;
    height: 23px;
    width: 25px;
    top: -60px;
    left: 40px;
    border-radius: 100%;
}

.black1{
    background-color: black;
    position: absolute;
    height: 15px;
    width: 15px;
    top: -53px;
    left: 40px;
    border-radius: 100%;
}
.glaz2{
    background-color:white;
    position: absolute;
    height: 23px;
    width: 25px;
    top: -60px;
    left: 85px;
    border-radius: 100%;
}
.black2{
    background-color: black;
    position: absolute;
    height: 15px;
    width: 15px;
    top: -59px;
    left: 94px;
    border-radius: 100%;
}
.mono1{
    background-color: #421a02;
    position: absolute;
    height: 13px;
    width: 19px;
    top: -76px;
    left: 50px;
    border-radius: 50% 50% 50% 50%;
}
.mono2{
    background-color: #421a02;
    position: absolute;
    height: 13px;
    width: 19px;
    top: -76px;
    left: 82px;
    border-radius: 50% 50% 50% 50%;
}
/* Руки */
.hand1{
    background-color: #421a02;
    position: absolute;
    height: 100px;
    width: 40px;
    transform: rotate(50deg);
    top: 25px;
    left: -35px;
    border-radius: 30% 30% 50% 50%;
}
.hand2{
    background-color: #421a02;
    position: absolute;
    height: 100px;
    width: 40px;
    transform: rotate(-50deg);
    top: 25px;
    left: 140px;
    border-radius: 30% 30% 50% 50%;
}
/* Конец рук */

/* Когти правой стороны*/
.kogti1{
    background-color: #421a02;
    position: absolute;
    height: 30px;
    width: 10px;
    transform: rotate(-50deg);
    top: 76px;
    left: 195px;
    border-radius: 50% 50% 50% 50%;
}
.kogti2{
    background-color: #421a02;
    position: absolute;
    height: 30px;
    width: 10px;
    transform: rotate(-50deg);
    top: 90px;
    left: 190px;
    border-radius: 50% 50% 50% 50%;
}
.kogti3{
    background-color: #421a02;
    position: absolute;
    height: 30px;
    width: 10px;
    transform: rotate(-30deg);
    top: 98px;
    left: 180px;
    border-radius: 50% 50% 50% 50%;
}
/* Конец когтей правой стороны */

/* Начало когдей левой стороны */
.kogti4{
    background-color: #421a02;
    position: absolute;
    height: 30px;
    width: 10px;
    transform: rotate(70deg);
    top: 75px;
    left: -63px;
    border-radius: 50% 50% 50% 50%;
}
.kogti5{
    background-color: #421a02;
    position: absolute;
    height: 30px;
    width: 10px;
    transform: rotate(70deg);
    top: 91px;
    left: -63px;
    border-radius: 50% 50% 50% 50%;
}
.kogti6{
    background-color: #421a02;
    position: absolute;
    height: 30px;
    width: 10px;
    transform: rotate(43deg);
    top: 100px;
    left: -53px;
    border-radius: 50% 50% 50% 50%;
}
/* Конец когдей левой стороны */

.rot{
    background-color: red;
    position: absolute;
    height: 15px;
    width: 30px;
    top: -33px;
    left: 60px;
    border-radius: 50%;
}